# Points

In [9]:
%matplotlib inline

import numpy as np
import pandas as pd
import geopandas as gpd
import pysal as ps

## Data

* Description of the data and paths

In [10]:
lsoas_path = '../../../../data/Liverpool/shapefiles/Liverpool_lsoa11.shp'
tw_path = '../../../../data/Tweets_Liverpool.csv'

* Load up the data

In [8]:
tw_all = pd.read_csv(tw_path)
tw_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316104 entries, 0 to 316103
Data columns (total 10 columns):
﻿USERID       316104 non-null int64
TWEET_TEXT    316104 non-null object
LAT           316104 non-null float64
LON           316104 non-null float64
YEAR          316104 non-null int64
MONTH         316104 non-null int64
DAY           316104 non-null int64
DOW           316104 non-null int64
HOUR          316104 non-null int64
MINUTE        316104 non-null int64
dtypes: float64(2), int64(7), object(1)
memory usage: 26.5+ MB

* Random sample

In [12]:
ri = np.arange(tw_all.shape[0])
np.random.shuffle(ri)
tw = tw_all.iloc[ri[:10000], :]
tw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 192341 to 15686
Data columns (total 10 columns):
﻿USERID       10000 non-null int64
TWEET_TEXT    10000 non-null object
LAT           10000 non-null float64
LON           10000 non-null float64
YEAR          10000 non-null int64
MONTH         10000 non-null int64
DAY           10000 non-null int64
DOW           10000 non-null int64
HOUR          10000 non-null int64
MINUTE        10000 non-null int64
dtypes: float64(2), int64(7), object(1)
memory usage: 859.4+ KB

* Convert into Geodataframe

* Set projection

* Plot

## Aggregation to polygons

* Point-in-polygon with LSOAs

In [6]:
tw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316104 entries, 0 to 316103
Data columns (total 10 columns):
﻿USERID       316104 non-null int64
TWEET_TEXT    316104 non-null object
LAT           316104 non-null float64
LON           316104 non-null float64
YEAR          316104 non-null int64
MONTH         316104 non-null int64
DAY           316104 non-null int64
DOW           316104 non-null int64
HOUR          316104 non-null int64
MINUTE        316104 non-null int64
dtypes: float64(2), int64(7), object(1)
memory usage: 26.5+ MB

* Hexbin

## Kernel Density Estimation